[Unit]
Description=Stable Diffusion Playground Web

[Service]
ExecStart=/srv/sdplayground/sdplayground
WorkingDirectory=/srv/sdplayground
User=ivoras
Group=ivoras

[Install]
WantedBy=multi-user.target

