<html>
  <head>
    <title>Stable Diffusion playground</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3/dist/litera/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js" integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  </head>
  <body>

    <div class="container">

        <p>Dobrodošli, <span data-bind="text: grader_name"></span>! Ovo je jednostavna aplikacija za ocjenjivanje
           pristiglih radova za ARt Future 2023. Korištenje aplikacije je vrlo jednostavno: pritisnite tipku
           na vašoj tipkovnici između 1-5, čime ćete dati ocjenu trenutnoj slici i odmah prikazati iduću.</p>
        
        <div data-bind="with: prop">
            <div style="height: 80%; text-align: center">
                <img style="height: 100%;" data-bind="attr: { src: artwork_url }">
            </div>
            <div>
                <p style="text-align: center"><b><span data-bind="text: author_name"></span>: <span data-bind="text: artwork_title"></span></b><br>
                <span data-bind="text: artwork_description"></span></p>
            </div>
        </div>

        <p>Molimo, ocijenite rad tako da pritisnete jednu tipku s brojem od 1-5 na vašoj tipkovnici. Pri ocjenjivanju molimo da uzmete u obzir opis djela, te sukladnost
            s ovogodišnjom temom izložbe - Emocionalna i umjetna inteligencija. Zbog velikog broja radova i kratkih rokova,
            nećete moći revidirati ocjene koje ste već dali.
        </p>
    
    </div>


    <script>
      var viewModel = {
        proposals: ko.observableArray(),
        prop: ko.observable(),
        prop_index: ko.observable(0),
        grader_name: ko.observable(""),
      }
      ko.applyBindings(viewModel);

      function goToProposal(idx) {
        if (idx >= viewModel.proposals().length) {
            alert("No more proposals");
            return
        }
        viewModel.prop(viewModel.proposals()[idx]);
        viewModel.prop_index(idx);
        //alert(JSON.stringify(viewModel.prop()));
      }

      var media_url_prefix = "";

      async function fetchProposals() {
        var resp = await fetch("/media/proposals.json");
        var data = await resp.json();
        viewModel.proposals(data);
        goToProposal(0);
      }

      async function processGrade(grade) {
        var resp = await fetch("/api/grade", {
            method: "POST",
            headers: {
              "Content-type": "application/json"
            },
            body: JSON.stringify({
                grader_name: viewModel.grader_name(),
                proposal_id: viewModel.prop().id,
                grade: grade,
            })
          });
          var result = await resp.json();
          if (!result.ok) {
            alert("Image generation failed");
          }
        var next = viewModel.prop_index() + 1;
        goToProposal(next);                    
      }

      
      window.addEventListener("load", (e) => {
        fetchProposals();
        var grader_name = prompt("Unesite vaše ime. Ako ste već bili u ovoj aplikaciji i ocjenjivali, upište TOČNO ISTO IME kao i prije.")
        if (grader_name != null) {
            viewModel.grader_name(grader_name);
            window.addEventListener('keydown', (e) => {
                if (e.key == "1" || e.key == "2" || e.key == "3" || e.key == "4" || e.key == "5") {
                    processGrade(parseInt(e.key));                    
                }
            });
      
        } else {
            
        }
      });

    </script>
  </body>
</html>
